<!doctype html>
{% load static %}
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="{% static "bootstrap/css/bootstrap.min.css" %}">
    <link rel="stylesheet" href="{% static "css/style.css" %}">

    <title>{% block title %} Новости{% endblock %}

    </title>
</head>
<body>

<div class="container">
    {% block header %}
        <ul class="nav nav-pills">
            <li class="nav-item">
                <a class="nav-link
            {% url 'polls:index' as url_index %}
            {% if url_index == request.path %} active
            {% endif %}" href="{{ url_index }}">Главная</a>
            </li>
            <li class="nav-item">
                <a class="nav-link
            {% url 'polls:edit_page' as url_edit %}
            {% if url_edit == request.path %} active
            {% endif %}" href="{{ url_edit }}">Редактировать</a>
            </li>
            {% if request.user.is_authenticated %}
                <li class="nav-item">
                    <a class="nav-link btn-danger ml-5 {% url 'polls:logout_page' as logout_edit %}
                    " href="{{ logout_edit }}">Выйти</a>
                </li>
            {% else %}
                <li class="nav-item">
                    <a class="nav-link {% url 'polls:login_page' as login_edit %}
                {% if login_edit == request.path %} active
                {% endif %}" href="{{ login_edit }}">Авторизация</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link {% url 'polls:register_page' as regis_edit %}
                {% if regis_edit == request.path %} active
                {% endif %}" href="{{ regis_edit }}">Регистрация</a>
                </li>
            {% endif %}






            {{ request.user }}
        </ul>
    {% endblock %}
    {% block content %}
    {% endblock %}

</div>


<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
        integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
        crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"
        integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN"
        crossorigin="anonymous"></script>
<script src="{% static "bootstrap/js/bootstrap.min.js" %}"></script>
</body>
</html>